.mat-card{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  }

.title-list-menu{
  font-style: normal;
  color:#0489B1;
}

.mat-divider{
  margin-top: 5px;
}

.icon-start-category{
  height: 20px;
  width: 20px;
  color: gold;
}
